{
  "openapi": "3.0.0",
  "info": {
    "title": "Mosquito Backend API",
    "description": "API documentation",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.moscom.co.kr/"
    }
  ],
  "paths": {
    "/account/list": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "사용자 목록 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/get": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "사용자 정보 요청",
        "description": "",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountInfoSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/account/register": {
      "post": {
        "tags": [
          "account"
        ],
        "summary": "사용자 가입 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "가입 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "가입 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountFailedResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string",
                    "description": "사용자 고유 값"
                  },
                  "password": {
                    "type": "string",
                    "description": "비밀번호"
                  },
                  "userLevel": {
                    "type": "number",
                    "description": "사용자 레벨(0 - 장비 소유자, 1 - 관리자)"
                  },
                  "deviceUUIDs": {
                    "type": "array",
                    "description": "장비 UUID 목록",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "userId",
                  "password",
                  "userLevel",
                  "deviceUUIDs"
                ]
              },
              "example": {
                "userId": "test",
                "password": "1234",
                "userLevel": 0,
                "deviceUUIDs": [
                  "123e4567-e89b-12d3-a456-426614174000",
                  "123e4567-e89b-12d3-a456-426614174001"
                ]
              }
            }
          }
        }
      }
    },
    "/account/login": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "사용자 로그인 요청",
        "description": "",
        "parameters": [
          {
            "name": "loginId",
            "in": "query",
            "description": "사용자 ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "description": "비밀번호",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "로그인 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "로그인 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountFailedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/account/update": {
      "put": {
        "tags": [
          "account"
        ],
        "summary": "계정 수정 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "계정 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "계정 수정 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "number",
                    "description": "수정할 사용자 고유 값"
                  },
                  "password": {
                    "type": "string",
                    "description": "비밀번호 (비어있을 경우 비밀번호 변경 없음)"
                  },
                  "userLevel": {
                    "type": "number",
                    "description": "사용자 레벨(0 - 장비 소유자, 1 - 관리자)"
                  },
                  "deviceUUIDs": {
                    "type": "array",
                    "description": "장비 UUID 목록",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "userId",
                  "userLevel",
                  "deviceUUIDs"
                ]
              }
            }
          }
        }
      }
    },
    "/account/delete": {
      "delete": {
        "tags": [
          "account"
        ],
        "summary": "계정 삭제 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "계정 삭제 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "계정 삭제 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "number",
                    "description": "삭제할 사용자 고유 값"
                  }
                },
                "required": [
                  "userId"
                ]
              }
            }
          }
        }
      }
    },
    "/device/listUUID": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "UUID(Mac Address)만 존재하는 장비 목록 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/listGroup": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "특정 사용자의 장비 그룹 목록 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGroupListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/listAll": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "사용자의 모든 장비 목록 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/addGroup": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "장비 그룹 추가",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceGroupSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupName": {
                    "type": "string",
                    "description": "생성할 그룹명"
                  }
                },
                "required": [
                  "groupName"
                ]
              },
              "example": {
                "groupName": "test"
              }
            }
          }
        }
      }
    },
    "/device/updateGroup": {
      "put": {
        "tags": [
          "device"
        ],
        "summary": "장비 그룹명 수정 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "장비 그룹명 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "장비 그룹명 수정 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "groupId": {
                    "type": "number",
                    "description": "수정할 그룹 고유 값"
                  },
                  "groupName": {
                    "type": "string",
                    "description": "변경할 그룹명"
                  }
                },
                "required": [
                  "groupId",
                  "groupName"
                ]
              }
            }
          }
        }
      }
    },
    "/device/deleteGroup": {
      "delete": {
        "tags": [
          "device"
        ],
        "summary": "장비 그룹 삭제",
        "description": "",
        "parameters": [
          {
            "name": "deviceGroupId",
            "in": "query",
            "description": "장비 그룹 고유 ID",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/list": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "특정 장비 그룹 내 장비 목록 요청",
        "description": "",
        "parameters": [
          {
            "name": "deviceGroupId",
            "in": "query",
            "description": "장비 그룹 고유 ID",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/get": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "특정 장비 정보 요청",
        "description": "",
        "parameters": [
          {
            "name": "deviceUUID",
            "in": "query",
            "description": "장비 고유 UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDeviceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/search": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "장비 검색",
        "description": "",
        "parameters": [
          {
            "name": "deviceUUID",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "장비 고유 UUID",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceListSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/addDevice_v2": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "장비 추가",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceGroupId": {
                    "type": "number",
                    "description": "연동되는 그룹 번호"
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "장비명"
                  },
                  "deviceUUID": {
                    "type": "string",
                    "description": "장비 UUID"
                  },
                  "address": {
                    "type": "string",
                    "description": "장비가 설치된 주소"
                  }
                },
                "required": [
                  "groupName"
                ]
              },
              "example": {
                "deviceGroupId": 1,
                "deviceUUID": "1234567890",
                "address": "서울특별시 강남구 테헤란로 14길"
              }
            }
          }
        }
      }
    },
    "/device/addDevice": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "장비 추가",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceGroupId": {
                    "type": "number",
                    "description": "연동되는 그룹 번호"
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "장비명"
                  },
                  "deviceUUID": {
                    "type": "string",
                    "description": "장비 UUID"
                  },
                  "address": {
                    "type": "string",
                    "description": "장비가 설치된 주소"
                  }
                },
                "required": [
                  "groupName"
                ]
              },
              "example": {
                "deviceGroupId": 1,
                "deviceUUID": "1234567890",
                "address": "서울특별시 강남구 테헤란로 14길"
              }
            }
          }
        }
      }
    },
    "/device/updateDevice": {
      "put": {
        "tags": [
          "device"
        ],
        "summary": "장비 수정 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "장비 수정 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "장비 수정 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceId": {
                    "type": "number",
                    "description": "수정할 디바이스 고유 값"
                  },
                  "deviceName": {
                    "type": "string",
                    "description": "변경할 장비명"
                  },
                  "deviceUUID": {
                    "type": "string",
                    "description": "변경할 장비 고유 ID 값"
                  },
                  "address": {
                    "type": "string",
                    "description": "변경할 장비 위치 값"
                  }
                },
                "required": [
                  "deviceName",
                  "deviceUUID",
                  "address"
                ]
              }
            }
          }
        }
      }
    },
    "/device/deleteDevice": {
      "delete": {
        "tags": [
          "device"
        ],
        "summary": "장비 삭제",
        "description": "",
        "parameters": [
          {
            "name": "deviceUUID",
            "in": "query",
            "description": "장비 UUID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "success"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/listByCount": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "지정된 마릿수 이상 잡힌 장비 검색",
        "description": "",
        "parameters": [
          {
            "name": "deviceGroupId",
            "in": "query",
            "description": "장비 그룹 ID (0이면 모든 장비)",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "count",
            "in": "query",
            "description": "잡힌 마릿수(이상) (ex: 200이면 200마리 이상)",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListByCountSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/summary": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "장비 현황 요약 정보 요청",
        "description": "",
        "parameters": [
          {
            "name": "deviceGroupId",
            "in": "query",
            "description": "장비 그룹 ID (0이면 모든 장비)",
            "required": true,
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SummarySuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/statistics": {
      "get": {
        "tags": [
          "device"
        ],
        "summary": "장비 포충 실적 요청",
        "description": "",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deviceGroupId",
            "in": "query",
            "description": "장비 그룹 ID (0이면 그룹 ID 무시)",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "deviceUUID",
            "in": "query",
            "description": "장비 UUID (0이면 UUID 무시)",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "타입 (0 - 3개월, 1 - 4주/5주, 2 - 7일, 3 - 24시간)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/device/control": {
      "post": {
        "tags": [
          "device"
        ],
        "summary": "장비 제어",
        "description": "",
        "responses": {
          "200": {
            "description": "요청 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ControlSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "요청 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GeneralFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deviceGroupId": {
                    "type": "number",
                    "description": "장비 그룹 ID"
                  },
                  "deviceUUID": {
                    "type": "string",
                    "description": "장비 UUID (비어있으면 무시)"
                  },
                  "control": {
                    "type": "string",
                    "description": "제어 명령 (server_time - 서버 시간 전달, on_time - 켜짐 시간 설정, factory_reset - 공장 초기화, count_reset - 포집수 초기화 요청)"
                  },
                  "value": {
                    "type": "string",
                    "description": "제어 값\n- server_time: 2025-01-01 00:00:00 (서버 시간 전달)\n- on_time: 10:00~12:00 \n- co2_on_time: 10:00~12:00 \n- co2_period: 5 (분 단위로 설정)\n- factory_reset: value 값 없음\n- count_reset: value 값 없음"
                  }
                },
                "required": [
                  "deviceGroupId",
                  "control"
                ]
              },
              "example": {
                "deviceGroupId": 0,
                "deviceUUID": "",
                "control": "co2_period",
                "value": "5"
              }
            }
          }
        }
      }
    },
    "/webhook/device": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "디바이스->서버 데이터 저장 요청",
        "description": "",
        "responses": {
          "200": {
            "description": "저장 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookDeviceSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "저장 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookDeviceFailedResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ipAddress": {
                    "type": "string",
                    "description": "디바이스의 IP 주소"
                  },
                  "latitude": {
                    "type": "number",
                    "description": "디바이스의 위도"
                  },
                  "longitude": {
                    "type": "number",
                    "description": "디바이스의 경도"
                  },
                  "count": {
                    "type": "number",
                    "description": "모기 포집 수"
                  },
                  "battery": {
                    "type": "number",
                    "description": "배터리 충전량 (68이면 68%를 의미)"
                  },
                  "charge": {
                    "type": "number",
                    "description": "충전 상태이면 1, 미충전 상태이면 0"
                  },
                  "fan": {
                    "type": "number",
                    "description": "팬 동작 상태이면 1, 팬 미동작 상태이면 0"
                  },
                  "dateTime": {
                    "type": "string",
                    "description": "장비의 현재 시간"
                  }
                },
                "required": [
                  "mosquito",
                  "battery",
                  "charge",
                  "fan",
                  "dateTime"
                ]
              },
              "example": {
                "ipAddress": "111.222.333.444",
                "latitude": 37.498095,
                "longitude": 126.854614,
                "count": 10,
                "battery": 68,
                "charge": 1,
                "fan": 1,
                "dateTime": "2025-03-07 10:00:00"
              }
            }
          }
        }
      }
    },
    "/webhook/auth": {
      "post": {
        "tags": [
          "webhook"
        ],
        "summary": "디바이스->서버 통신을 위한 인증",
        "description": "",
        "responses": {
          "200": {
            "description": "인증 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookAuthSuccessResponse"
                }
              }
            }
          },
          "400": {
            "description": "인증 실패",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebHookAuthFailedResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "device_id": {
                    "type": "string",
                    "description": "디바이스 고유 UUID 값"
                  },
                  "device_secret": {
                    "type": "string",
                    "description": "시크릿 키"
                  }
                },
                "required": [
                  "device_id",
                  "device_secret"
                ]
              },
              "example": {
                "device_id": "test",
                "device_secret": "1234"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AccountListSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "array"
          },
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "object"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "user_id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  },
                  "password": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "format": {
                        "type": "string",
                        "example": "password"
                      }
                    }
                  },
                  "user_level": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "last_login_date": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "format": {
                        "type": "string",
                        "example": "date-time"
                      },
                      "nullable": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "created_date": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "format": {
                        "type": "string",
                        "example": "date-time"
                      }
                    }
                  },
                  "_count": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "object"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "userDevices": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AccountInfoSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "id": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "user_id": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "password": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "password"
                  }
                }
              },
              "user_level": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "last_login_date": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  },
                  "nullable": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "created_date": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  }
                }
              },
              "userDevices": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "array"
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "object"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "device": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "object"
                              },
                              "properties": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "integer"
                                      }
                                    }
                                  },
                                  "device_name": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "device_uuid": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "ip_address": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      }
                                    }
                                  },
                                  "latitude": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "number"
                                      }
                                    }
                                  },
                                  "longitude": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "number"
                                      }
                                    }
                                  },
                                  "mosquito_count": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "integer"
                                      }
                                    }
                                  },
                                  "battery": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "integer"
                                      }
                                    }
                                  },
                                  "charge": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "integer"
                                      }
                                    }
                                  },
                                  "fan": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "integer"
                                      }
                                    }
                                  },
                                  "token_expired": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "format": {
                                        "type": "string",
                                        "example": "date-time"
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
                                  "device_date": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "format": {
                                        "type": "string",
                                        "example": "date-time"
                                      }
                                    }
                                  },
                                  "updated_date": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "format": {
                                        "type": "string",
                                        "example": "date-time"
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "example": true
                                      }
                                    }
                                  },
                                  "created_date": {
                                    "type": "object",
                                    "properties": {
                                      "type": {
                                        "type": "string",
                                        "example": "string"
                                      },
                                      "format": {
                                        "type": "string",
                                        "example": "date-time"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AccountSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "type": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "user": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "object"
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          },
                          "nullable": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "user_id": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      },
                      "password": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "password"
                          }
                        }
                      },
                      "user_level": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          }
                        }
                      },
                      "last_login_date": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          },
                          "nullable": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "created_date": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "token": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      },
      "AccountFailedResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "type": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "user": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "null"
                  }
                }
              },
              "message": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      },
      "DeviceGroupListSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "array"
          },
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "object"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "device_group_id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      },
                      "nullable": {
                        "type": "boolean",
                        "example": true
                      }
                    }
                  },
                  "deviceGroup": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "object"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              },
                              "nullable": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          },
                          "group_name": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "created_date": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "format": {
                                "type": "string",
                                "example": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DeviceListSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "array"
          },
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "object"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "device": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "object"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              },
                              "nullable": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          },
                          "device_group_id": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              }
                            }
                          },
                          "device_name": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "device_uuid": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "ip_address": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "latitude": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "number"
                              }
                            }
                          },
                          "longitude": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "number"
                              }
                            }
                          },
                          "mosquito_count": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              }
                            }
                          },
                          "battery": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              }
                            }
                          },
                          "charge": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              }
                            }
                          },
                          "fan": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              }
                            }
                          },
                          "token_expired": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "format": {
                                "type": "string",
                                "example": "date-time"
                              },
                              "nullable": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          },
                          "device_date": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "format": {
                                "type": "string",
                                "example": "date-time"
                              }
                            }
                          },
                          "updated_date": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "format": {
                                "type": "string",
                                "example": "date-time"
                              },
                              "nullable": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          },
                          "created_date": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "format": {
                                "type": "string",
                                "example": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "device_group": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "object"
                      },
                      "properties": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "integer"
                              },
                              "nullable": {
                                "type": "boolean",
                                "example": true
                              }
                            }
                          },
                          "group_name": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              }
                            }
                          },
                          "created_date": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "string"
                              },
                              "format": {
                                "type": "string",
                                "example": "date-time"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DeviceGroupSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "id": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  },
                  "nullable": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "group_name": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "created_date": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "DeviceGetSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "device": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "object"
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          },
                          "nullable": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "device_group_id": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          }
                        }
                      },
                      "device_name": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      },
                      "device_uuid": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      },
                      "ip_address": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      },
                      "latitude": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "number"
                          }
                        }
                      },
                      "longitude": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "number"
                          }
                        }
                      },
                      "mosquito_count": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          }
                        }
                      },
                      "battery": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          }
                        }
                      },
                      "charge": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          }
                        }
                      },
                      "fan": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          }
                        }
                      },
                      "token_expired": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          },
                          "nullable": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "device_date": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          }
                        }
                      },
                      "updated_date": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          },
                          "nullable": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "created_date": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              },
              "device_group": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "object"
                  },
                  "properties": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "integer"
                          },
                          "nullable": {
                            "type": "boolean",
                            "example": true
                          }
                        }
                      },
                      "group_name": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          }
                        }
                      },
                      "created_date": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "string"
                          },
                          "format": {
                            "type": "string",
                            "example": "date-time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DeviceSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "id": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  },
                  "nullable": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "device_group_id": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "device_name": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "device_uuid": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "ip_address": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "latitude": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "number"
                  }
                }
              },
              "longitude": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "number"
                  }
                }
              },
              "mosquito_count": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "battery": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "charge": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "fan": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "token_expired": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  },
                  "nullable": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "device_date": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  }
                }
              },
              "updated_date": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  },
                  "nullable": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "created_date": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  },
                  "format": {
                    "type": "string",
                    "example": "date-time"
                  }
                }
              }
            }
          }
        }
      },
      "ListByCountSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "array"
          },
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "object"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "device_group_id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "device_id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "count": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SummarySuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "device_group_id": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "device_count": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "online_count": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "offline_count": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "warning_count": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              },
              "mosquito_count": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "StatisticsSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "array"
          },
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "object"
              },
              "properties": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "device_id": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "device_uuid": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      }
                    }
                  },
                  "mosquito_count": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "integer"
                      }
                    }
                  },
                  "created_date": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "string"
                      },
                      "format": {
                        "type": "string",
                        "example": "date-time"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "ControlSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "string"
          },
          "properties": {
            "type": "object",
            "properties": {
              "status": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      },
      "WebHookAuthSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "status": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "token": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "expires_in": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "number"
                  }
                }
              }
            }
          }
        }
      },
      "WebHookAuthFailedResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "status": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "message": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      },
      "WebHookDeviceSuccessResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "status": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      },
      "WebHookDeviceFailedResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "status": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "message": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      },
      "GeneralFailedResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "object"
          },
          "properties": {
            "type": "object",
            "properties": {
              "type": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              },
              "message": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}